.vscode
node_modules/
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

extra_data/

# Go
backend/bin/

# Go workspace file
go.work
go.work.sum